.tag {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 12px;
}

.crit-imp-1 {
  background: hsl(350, 70%, 95%);
  color: hsl(350, 45%, 30%);
}

.crit-imp-2 {
  background: hsl(350, 70%, 80%);
  color: hsl(350, 45%, 25%);
}

.crit-imp-3 {
  background: hsl(350, 70%, 65%);
  color: hsl(350, 45%, 20%);
}

.crit-best-1 {
  background: hsl(116, 60%, 95%);
  color: hsl(116, 30%, 25%);
}

.crit-best-2 {
  background: hsl(116, 60%, 80%);
  color: hsl(116, 30%, 20%);
}

.crit-best-3 {
  background: hsl(116, 60%, 65%);
  color: hsl(116, 30%, 15%);
}