.tag {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 12px;
}

.crit-1 {
  background: #A50026;
}

.crit-2 {
  background: #D73027;
}

.crit-3 {
  background: #F46D43;
}

.crit-4 {
  background: #FDAE61;
}

.crit-5 {
  background: #FEE08B;
}

.crit-6 {
  background: #FFFFBF;
}

.crit-7 {
  background: #D9EF8B;
}

.crit-8 {
  background: #A6D96A;
}

.crit-9 {
  background: #66BD63;
}

.crit-10 {
  background: #1A9850;
}

.crit-11 {
  background: #006837;
}

