.tag {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 12px;
}

.crit_-5 {
  background: #A50026;
}

.crit_-4 {
  background: #D73027;
}

.crit_-3 {
  background: #F46D43;
}

.crit_-2 {
  background: #FDAE61;
}

.crit_-1 {
  background: #FEE08B;
}

.crit_0 {
  background: #FFFFBF;
}

.crit_1 {
  background: #D9EF8B;
}

.crit_2 {
  background: #A6D96A;
}

.crit_3 {
  background: #66BD63;
}

.crit_4 {
  background: #1A9850;
}

.crit_5 {
  background: #006837;
}

